<!DOCTYPE html>
<html lang="en">

<head>
  <title>Online Code Platform</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <style>
  </style>

  {{ template "style" }}

  {{ template "header" . }}

  <main>
    <section>
      {{ template "user-post-form" . }}

      Yeah vite + rollup build watch is working properly !!!

    </section>
  </main>

  {{ template "footer" . }}
</body>

<script type="module">
  /*
  let hiddenCodeInput = document.querySelector("section > form > input[name=code]")
  let form = document.querySelector("body > main > section > form")

  form.addEventListener("submit", function (e) {
    hiddenCodeInput.value = "Modified by JS"
  })
  */
</script>

{{ template "global_var_js" . }}

<script>
  GLOBAL_FLAGS.isCreatePostElement = true
</script>

<script type="module" src="../app.js">
</script>

</html>
