<!DOCTYPE html>
<html lang="en">

<head>
  <title>Online Code Platform</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <style>
  </style>

  {{ template "style" }}

  {{ template "header" . }}

  <main>
    <section>

      <form action="new/save" method="post">
        {{ template "user-post" .OriginalPost }}
        <p>Form here</p>
        <input name="username" value="my name is steven" />
        <input name="password" value="halohalowa" />
        <input name="code" value="{{ .OriginalPost.PostId }}" hidden />
        <input type="submit" value="Submission Button" />
      </form>

      Yeah vite + rollup build watch is working properly !!!

    </section>
  </main>

  {{ template "footer" . }}
</body>

<script type="module">
  /*
  let hiddenCodeInput = document.querySelector("section > form > input[name=code]")
  let form = document.querySelector("body > main > section > form")

  form.addEventListener("submit", function (e) {
    hiddenCodeInput.value = "Modified by JS"
  })
  */
</script>

{{ template "global_var_js" . }}

<script>
  GLOBAL_FLAGS.isCreatePostPage = true

  /*
  var GLOBAL_DATA_ORIGINAL_POSTER = {{.OriginalPost}};
  var GLOBAL_DATA_ANSWERS_POSTER = {{.AnswersPost}};
  var GLOBAL_VIEWS = {}
  var GLOBAL_FLAGS = {
    isCreatePostPage: true,
  }
  */

</script>

<script type="module" src="../app.js">
</script>

</html>
