<!DOCTYPE html>
<html lang="en">

<head>
  <title>Online Code Platform</title>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="assets/style.css" rel="stylesheet" />
  <link href="assets/bulma.min.css" rel="stylesheet" />

  {{ if .OriginalPost }}
    <script>
      const  GLOBAL_DATA_ORIGINAL_POSTER = {{ .OriginalPost }};
      const  GLOBAL_DATA_ANSWERS_POSTER = {{ .AnswersPost }};
      const  GLOBAL_DATA_EMPTY_POSTER = {{ .EmptyPost }};
      const  GLOBAL_FLAGS = {};

      var GLOBAL_VIEWS = {}
    </script>

    {{ template "custom_data_js" . }}

    <script type="module" src="app.js"></script>
  {{ end }}

</head>

<body class="has-background-light">
  <header class="has-background-white">
    <div class="nav-bar">
      <div class="nav-bar__logo">
        Snipet Coder
      </div>

      <div>
        <input />
      </div>

      <nav>
        <a>Playground</a>
        <a>Snipet</a>
        <a href="/login" class="button is-primary">Login</a>
      </nav>
    </div>
  </header>

  <main class="section">
    {{ template "main" . }}
  </main>

  <footer class="footer has-background-dark">
    <p class="has-text-centered has-text-light">Made By <strong>Steve Djumo</strong></p>
  </footer>
</body>

</html>
