{{ define "main" }}

<form class="box section container has-text-centered" method="get">
  <h2 class="title mb-3">Search</h2>
  <div class="field column is-4 is-offset-4">
    <input class="input" name="search" placeholder="Search Posts ..." />
  </div>
  <button class="button has-text-centered is-link px-6" type="submit">Go !</button>
</form>

<div class="box section container">
  <p class="has-text-centered">Posts Comming Soon ...</p>
</div>

{{ end }}

{{ define "custom_data_js" }}
{{ end }}
