<!DOCTYPE html>
<html lang="en">

<head>
  <title>Online Code Platform</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <style>
  </style>

  {{ template "style" }}

  {{ template "header" . }}

  <main>
    <section>

      {{ template "user-post" .OriginalPost }}

    </section>
  </main>

  {{ template "footer" . }}
</body>

{{ template "global_var_js" . }}

<script>
  /*
  var GLOBAL_DATA_ORIGINAL_POSTER = {{.OriginalPost}};
  var GLOBAL_DATA_ANSWERS_POSTER = {{.AnswersPost}};
  var GLOBAL_VIEWS = {}
  var GLOBAL_FLAGS = {}
  */
</script>

<script type="module" src="app.js">
</script>

</html>
