<!DOCTYPE html>
<html lang="en">

<head>
  <title>Online Code Platform</title>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link href="/assets/style.css" rel="stylesheet" />
  <link href="/assets/bulma.min.css" rel="stylesheet" />
  <link href="/assets/bulma-no-dark-mode.min.css" rel="stylesheet" />

  {{ if .OriginalPost }}
  <script>
    const GLOBAL_DATA_ORIGINAL_POSTER = {{ .OriginalPost}};
    const GLOBAL_DATA_ANSWERS_POSTER = {{ .AnswersPost}};
    const GLOBAL_DATA_EMPTY_POSTER = {{ .EmptyPost}};
    const GLOBAL_FLAGS = {};

    var GLOBAL_VIEWS = {}
  </script>

  {{ template "custom_data_js" . }}

  <script type="module" src="app.js"></script>
  {{ end }}

</head>

<body class="has-background-light">
  <header class="has-background-white">
    <div class="navbar">
      <div class="navbar-brand">
        <a href="/" class="navbar-item">Snippet Coder</a>
      </div>

      <nav class="navbar-menu">
        <div class="navbar-start">
          <a href="https://github.com/yayolande/code-collaboration-platform" class="navbar-item"
            target="_blank">Github</a>
        </div>

        <div class="navbar-end">
          <a href="/play/" class="navbar-item">Playground</a>
          <a href="/code/new" class="navbar-item">Create</a>

          {{ if .user_id }}
          <a href="/profile" class="navbar-item ml-6"><strong>{{ .user_name }}</strong></a>
          <a href="/logout" class="navbar-item">
            <button class="button is-danger has-text-light">Logout</button>
          </a>
          {{ else }}
          <a href="/login" class="navbar-item ml-6">
            <button class="button is-primary has-text-white">Login</button>
          </a>
          {{ end }}
        </div>
      </nav>
    </div>
  </header>

  <main class="section">
    {{ template "main" . }}
  </main>

  <footer class="footer has-background-dark">
    <p class="has-text-centered has-text-light">
      Made By
      <strong><a href="https://github.com/yayolande" class="has-text-success" target="_blank">Steve Djumo</a></strong>
    </p>
  </footer>
</body>

</html>
